<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
       <!--本机-->
	<bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/earthquake"></property>
		<property name="username" value="root"></property>
		<property name="password" value="admin"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	</bean>


	<!--<bean id="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
		<!--<property name="url" value="jdbc:mysql://localhost:3306/earthquake"></property>-->
		<!--<property name="username" value="root"></property>-->
		<!--<property name="password" value="root"></property>-->
		<!--<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>-->
	<!--</bean>-->
	
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="datasource"></property>
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<property name="mapperLocations" value="classpath:Mybatis/*-mybatis.xml"></property>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 扫描本包下面的MapperDao(接口)托管给Spring IOC -->
		<property name="basePackage" value="com.zx.Dao"></property>
		<property name="sqlSessionFactoryBeanName" value="sessionFactory"></property>
	</bean>

</beans>